.form-row-p_conferm_code,
.hma_cashpay_confirm_account_msg,
.hma_cashpay_confirm_account_ajax_loader {
    display: none;
}

.hma_cashpay_confirm_account_msg {
    text-align: center;
    width: 100%;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
}

.hma_confirm_account_ms_success {
    color: green;
}

.hma_cashpay_confirm_account_msg_error {
    color: red;
}

.hma_cashpay_confirm_account_ajax_loader {
    width: 100%;
    height: 4px !important;
}
a.hma_resend_alamal_confirmation_code {
    display: block;
    /* background: antiquewhite; */
    font-size: 13px;
    text-decoration: none !important;
}
.hide_show{
    display: none;
}